
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
  <div class="newNote">
    {{input type=text placeholder="Enter a Title" value=noteTitle}}
    {{textarea placeholder="Add a note!" value=noteCopy}}
  <div class="buttonContain">
    <a href="#" {{bind-attr class= ":btn noteHasContent:plus:menu"}} {{action 'newNote'}}>
      <span>
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
      </span>
    </a>
  </div>
  </div>
  </div>
</div>


<div class="row">
  {{#each note in model}}
    {{local-note note=note deleteNote = "deleteNote"}}
  {{/each}}
</div>

{{outlet}}
</div>
